@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --light-mode-bg: linear-gradient(
    90deg,
    #fcfcfc 0%,
    #f7f7f7 10%,
    #f7f7f7 52%,
    #f7f7f7 90%,
    #fcfcfc 100%
  );

  --light-progress-bg: #eaeaef;
  --yellow-1: #ffb01d;
  --yellow-2: #faa300;
  --orange-1: #ff7b2c;
  --neutral-700: #4a4a6a;
  --neutral-800: #32324d;
  --neutral-600: #666687;
  --neutral-500: #8e8ea9;
  --purple-3: #8981ae;
  --purple-2: #615793;
  --orange-text: #ff7b2c;
  --neutral-200: #dcdce4;
  --neutral-400: #a5a5ba;
  --neutral-300: #C0C0CF;

  --dark-mode-bg: linear-gradient(
    90deg,
    #32324d 0%,
    #32324d 10%,
    #2c2c45 52%,
    #32324d 90%,
    #32324d 100%
  );
  --neutral-100: #f6f6f9;
  --neutral-150: #eaeaef;
  --purple-4: #c4c0d7;
  --purple-5: #ebeaf2;
  --dark-mode-input-bg: #4a4a6a;
  --neutral-900: #212134;
}

* {
  font-family: "Mulish";

  box-sizing: border-box;
}

#root,
body,
html {
  width: 100%;
  height: 100%;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.heading-font {
  font-family: "DM Sans";
}

.phone-input {
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 1rem;
  border: 1px solid var(--neutral-150);
}

.phone-input .PhoneInputInput {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--neutral-500);
  border: none;
  outline: none;
  background: transparent;
}

.phone-input .PhoneInputInput:focus {
  outline: none;
  box-shadow: none;
}

.phone-input .PhoneInputCountry {
  padding-left: 16px;
}

.dark .phone-input {
  background: var(--dark-mode-input-bg);
  border: 1px solid var(--neutral-600);
}

.dark .phone-input .PhoneInputInput {
  color: var(--neutral-200);
}

.aside {
  background: var(--dark-mode-bg);
}

.dark .aside {
  background: var(--neutral-900);
}
