@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --light-mode-bg: linear-gradient(
    90deg,
    #fcfcfc 0%,
    #f7f7f7 10%,
    #f7f7f7 52%,
    #f7f7f7 90%,
    #fcfcfc 100%
  );
  
  --light-progress-bg: #eaeaef;
  --yellow-1: #ffb01d;
  --orange-1: #FF7B2C;
  --neutral-700: #4A4A6A;
  --neutral-800: #32324d;
  --neutral-600: #666687;
  --neutral-500: #8E8EA9;
  --purple-3: #8981ae;
  --purple-2: #615793;
  --orange-text: #ff7b2c;
  --neutral-200: #DCDCE4;
  --neutral-400: #A5A5BA;

  --dark-mode-bg: linear-gradient(
    90deg,
    #32324d 0%,
    #32324d 10%,
    #2c2c45 52%,
    #32324d 90%,
    #32324d 100%
  );
  --neutral-150: #EAEAEF;
  --purple-5: #8981AE;
  
}

* {
  font-family: "Mulish";

  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.heading-font{
  font-family: "DM Sans";
}
